@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Poppins";
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #1e3a8a;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #fa7f77, #e9d7cc);
}
